{% extends "like/_layout" %}

{% block main %}

    <div class="col-md-8 col-md-offset-2">
        <h1>Entries</h1>
        <p class="lead">Most popular entries</p>

        {% if not currentUser %}
            <p>You need to <a href="{{url('like/login')}}">login</a> in order to start liking elements.</p>
        {% endif %}

        {% set entries = craft.entries.order('totalLikes desc').limit(5) %}

        <hr>

        {% for entry in entries %}
            <h2>{{entry.title}}</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, earum, incidunt, ad, necessitatibus consectetur soluta eaque ratione porro corrupti dignissimos itaque provident amet non. Veritatis illum laudantium consectetur vel earum?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, earum, incidunt, ad, necessitatibus consectetur soluta eaque ratione porro corrupti dignissimos itaque provident amet non. Veritatis illum laudantium consectetur vel earum?</p>

            {% include 'like/_likeBtn' with { element: entry } %}

            <hr>

        {% endfor %}
    </div>


    <!-- Javascript -->

    {#

    Coming soon

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

    <script>
        $('.like-btn').click(function(e) {
            $element = $(this);
            $.post("{{actionUrl('like/add')}}", {id:$element.data('id')}, function() {
                console.log('added like for element : '+$element.data('id'));
            });

            e.preventDefault();
        });

        $('.unlike-btn').click(function(e) {
            $element = $(this);
            $.post("{{actionUrl('like/remove')}}", {id:$element.data('id')}, function() {
                console.log('remove like for element : '+$element.data('id'));
            });

            e.preventDefault();
        });
    </script>
    #}

{% endblock main %}
