{% extends "like/_layout" %}

{% block main %}

    <div class="col-md-12">
        {% if currentUser %}
            <h1>Hello {{currentUser.friendlyName}} !</h1>
        {% else %}
            <h1>Hello, Guest !</h1>
        {% endif %}

        <p>Welcome in the Like plugin example application. These template will show you how to use Like features on your Craft website.</p>

        <hr>

        <h4>This demo assumes that you have...</h4>

        <ul>
            <li>Installed Like plugin</li>
            <li>Have some entries, assets and users content so we can start liking these elements</li>
        </ul>

        <h4>Plugin Links</h4>

        <ul>
            <li><a href="https://dukt.net/craft/like">Like Overview</a></li>
            <li><a href="https://dukt.net/craft/like/docs">Like Docs</a></li>
            <li><a href="https://dukt.net/craft/like/updates">Like Updates</a></li>
            <li><a href="https://dukt.net/craft/like/docs/license">Like License</a></li>
        </ul>
    </div>

{% endblock main %}
