{% extends "like/_layout" %}

{% block main %}

    <div class="col-md-12">
        <h1>Your Likes</h1>
        <p class="lead">Entries and asset that you like.</p>

        <hr>

        {% if not currentUser %}
            <p>You need to <a href="{{url('like/login')}}">login</a> in order to start liking elements.</p>
        {% endif %}

        <div class="row">

            <div class="col-sm-6">
                {% set entries = craft.like.getUserLikes('Entry') %}

                <h3>Entries <small>{{entries|length}}</small></h3>

                {% if entries %}
                    <ul>
                        {% for entry in entries %}
                            <li>{{entry.title}}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>You haven't liked any entry yet.</p>
                {% endif %}
            </div>

            <div class="col-sm-6">

                {% set assets = craft.like.getUserLikes('Asset') %}

                <h3>Assets <small>{{assets|length}}</small></h3>

                {% if assets %}
                    <div class="row">
                        {% for asset in assets %}
                            <div class="col-md-4">
                                <img class="thumbnail img-responsive" src="{{asset.url({width:200, height: 140})}}" />
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>You haven't liked any asset yet.</p>
                {% endif %}
            </div>

        </div>

    </div>

{% endblock main %}
