{% extends "like/_layout" %}

{% block main %}

    <div class="col-md-12">
        {% if currentUser %}
            <h1>Hello {{currentUser}} !</h1>
        {% else %}
            <h1>Hello, Guest !</h1>
        {% endif %}

        <p>Welcome in the Social example application. These template will show you how to use Social features on your Craft website.</p>

        <hr>

        <h4>This demo assumes that you have...</h4>

        <ul>
            <li>Installed OAuth plugin</li>
            <li>Installed Social plugin</li>
        </ul>
    </div>

{% endblock main %}
