<div class="btns">

    <p>
        {% if currentUser %}
            {% if craft.like.isLike(element.id) %}
                <a class="btn btn-default" href="{{actionUrl('like/remove', {id:element.id})}}"><span class="glyphicon glyphicon-star"></span> Unlike</a>
            {% else %}
                <a class="btn btn-primary" href="{{actionUrl('like/add', {id:element.id})}}"><span class="glyphicon glyphicon-star"></span> Like</a>
            {% endif %}
        {% else %}
            <a class="btn disabled btn-primary" href="#">Like</a>
        {% endif %}

        &nbsp;


        {% set likes = craft.like.getLikes(element.id) %}

        {% if likes|length > 0 %}

            {% for like in likes %}
                <a href="#">
                    {% if like.user.photoUrl %}
                        <img src="{{like.user.photoUrl}}" width="36" class="img-rounded" data-toggle="tooltip" data-original-title="{{like.user.email}}" />
                    {% else %}
                        <img src="http://placehold.it/36x36" data-toggle="tooltip" class="img-rounded" data-original-title="{{like.user.email}}">
                    {% endif %}
                </a>
            {% endfor %}

        {% endif %}
    </p>


    <p>
        <small>
            {% if likes|length == 1 %}
                {{likes|length}} user likes this.
            {% else %}
                {{likes|length}} user like this.
            {% endif %}
        </small>
    </p>

</div>