{% extends "demos/like/_layout" %}

{% block main %}

    <div class="col-md-12">
        <h1>Assets</h1>

        {% if not currentUser %}
            <p>You need to <a href="{{url('like/login')}}">log in</a> in order to start liking elements.</p>
        {% endif %}

        {% set assets = craft.assets.find() %}

        <hr>

            {% for asset in assets %}
                <div class="row">
                    <div class="col-sm-8">
                        <img class="img-responsive thumbnail" src="{{asset.url({width:500, height:300})}}" />
                        {% include 'demos/like/_likeBtn' with { element: asset } %}

                    </div>
                </div>

                <hr>
            {% endfor %}
    </div>

{% endblock main %}
