{% extends "demos/like/_layout" %}

{% block main %}

    <div class="col-md-12">
        <h1>Your Likes</h1>

        {% if not currentUser %}
            <p>You need to <a href="{{url('like/login')}}">log in</a> in order to start liking elements.</p>
        {% endif %}

        <hr>

        <div class="row">
            <div class="col-sm-4">


                {% set entries = craft.like.getUserLikes('Entry') %}

                <h3>Entries <small>{{entries|length}}</small></h3>

                {% if entries %}
                    <ul>
                        {% for entry in entries %}
                            <li>{{entry.title}}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>You haven't liked any entry yet.</p>
                {% endif %}
            </div>

            <div class="col-sm-4">

                {% set assets = craft.like.getUserLikes('Asset') %}

                <h3>Assets <small>{{assets|length}}</small></h3>

                {% if assets %}
                        {% for asset in assets %}
                            <img class="thumbnail" src="{{asset.url({width:200, height: 140})}}" />
                        {% endfor %}
                {% else %}
                    <p>You haven't liked any asset yet.</p>
                {% endif %}
            </div>

            <div class="col-sm-4">

                {% set users = craft.like.getUserLikes('User') %}

                <h3>Users <small>{{users|length}}</small></h3>

                {% if users %}
                    <ul>
                        {% for user in users %}

                            <li>{{user.name}}</li>

                        {% endfor %}
                    </ul>
                {% else %}
                    <p>You haven't liked any user yet.</p>
                {% endif %}
            </div>
        </div>

    </div>

{% endblock main %}
